.img_club{
	height:30%;
	width:30%;
	margin:10px;
}
.onglets{
	margin-top: 10px;
	border-top: 1px solid rgb(220, 220, 220);
	padding: 5px;
}
.onglets_club{
	border-top: 1px solid rgb(220, 220, 220);
	position: relative;
	padding: 0px;
}
.ongletEvent{
	border-right: 2px solid rgb(220, 220, 220);
	padding: 15px;
	font-size: 18px;
	text-align: center;
}
body{
	background-color: rgb(230, 230, 230);
	font-family: 'Lato', sans-serif;
}
.globale{
	background-color: white;
	box-shadow: 8px 8px 12px #aaa;
}
.onglet_hoverable:hover{
	background-color: rgb(220, 220, 220);
}
.onglet{
	border-right: 1px solid rgb(220, 220, 220);
	cursor: pointer;
	font-size: 18px;
	text-align: center;
	padding: 5px;
	position: relative;
	top: -6px;
}
.onglet_club{
	cursor: pointer;
	font-size: 18px;
	font-family: Arial;
	text-align: center;
	padding: 5px;
}
.onglet_club_droite{
	cursor: pointer;
	font-size: 18px;
	font-family: Arial;
	text-align: center;
	padding: 5px;
}
.menu{
	display: inline-block;
}
footer{
	color: white;
	background-color: black;
	text-align: center;
}
.onglet_choisi{	
	background-color: rgb(17, 136, 215);
	color: white;
}
.titre{
	text-decoration : underline;
	text-align: justify;
}
th{
	text-align: left;
}
th, td{
	padding: 5px;
}
p{
	text-align:left;
}
h2{
	text-decoration : underline;
	font-weight : bold;
	text-align: justify;
	font-size: 22px;
	color: rgb(17, 136, 215);
}
h3{
	font-size: 14px;
	Line-Height: 1.15;
	font-weight:normal;
	text-align: justify;
}
.visible{
	display:block;
}
.non-visible{
	display:none;
}
br{
	display: block;
	margin: 5px 0;
}
.thBoutique{
	color: rgb(17, 136, 215);
	font-weight : bold;
	text-align: center;
}
.tdBoutique{
	text-align: center;
}
.boutique{
	width:100%;
	overflow:hidden;
    border-collapse: collapse;
}
.rouge{
	color: red;
	font-weight : bold;
}
.dore{
	color: gold;
	font-weight : bold;
}

.header-fixed > thead,
.header-fixed > tbody,
.header-fixed > thead > tr,
.header-fixed > tbody > tr,
.header-fixed > thead > tr > th,
.header-fixed > tbody > tr > td {
    display: block;
}
.header-fixed > tbody > tr:after,
.header-fixed > thead > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.header-fixed > tbody {
    overflow-y: auto;
    height: 450px;
}
.header-fixed > tbody > tr > td ,
.header-fixed > thead > tr > th {
    float: left;
}

.fondGris{
	background-color: rgb(153, 204, 255);
}
.petit{
	width: 17%;
}
.mid{
	width: 17%;
}
.grand{
	width: 32%;
}
marquee{
	margin-top: 5px;
}

.an_header{
	border : 1px dashed rgb(30,144,255);
	border-radius : 15px;
	height : 30px;
	margin-bottom : 20px;
	line-height:30px;
}

.an_bar{
	border: 1px solid rgb(30,144,255);
	line-height : 30px;
	border-radius: 15px;
	height:30px;
	background-color: rgb(30,144,255);
	color : white;
}

.an_bar_subtab{
	margin-bottom: 10px;
}

.an_bar_subtab td{
	border:1px solid black;
	border-top : 0px;
}
.an_bar_subtab td:hover{
	border:1px solid black;
	border-top : 0px;
	background-color: rgb(220,220,220);
}